* {
  margin: 0%;
  padding: 0%;
}
body {
  background: #fff;
  font-family: "PT Sans", sans-serif;
}
main {
  width: fit-content;
  margin: 100px auto;
  border: 0.4rem solid #f8f9fa;
  padding: 20px;
}
form {
  margin: 20px 0px;
}
input {
  padding: 2px;
  margin-bottom: 5px;
  border: 1px solid gray;
  border-radius: 2px;
  background-color: #f8f9fa;
}
input:focus {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #da5767;
  outline: 0;
  box-shadow: none;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  font-size: 8px;

  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray;
  font-size: 8px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: gray;
  font-size: 8px;
}

button {
  background-color: red;
  border: none;
  padding: 6px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
}
button:hover {
  background-color: #df8c96;
  border-color: #df8c96;
  transition: 0.3s;
}
p
{
    font-size: 10px;
    text-align: center;
}