*
{
    padding: 0%;
    margin: 0%;
}
main
{
    display: flex;
    

}
    #first
    {
        width: 500px;
        height: 500px;
        background-color: red;
    }
     #second
    {
        width: 400px;
        height: 400px;
        background-color: yellow;
    }
     #third
    {
        width: 300px;
        height: 300px;
        background-color: green;
    }
     #fourth
    {
        width: 200px;
        height: 200px;
        background-color: pink;
    }
     #fifth
    {
        width: 100px;
        height: 100px;
        background-color: purple;
    }
.left
{
    float: right;
}